
@model GradedUnitVersion5KeiranDeane.Models.CustomerOrder
@{
    ViewBag.Title = "UseRegisterDetails";
}

<h2>UseRegisterDetails</h2>

<div class="form-group">
    
    @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DisplayFor(m => m.FirstName, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    
    @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DisplayFor(m => m.LastName, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    
    @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Address, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    
    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DisplayFor(m => m.City, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    
    @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DisplayFor(m => m.State, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
   
    @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Country, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    
    @Html.LabelFor(m => m.PostalCode, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DisplayFor(m => m.PostalCode, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    
    @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DisplayFor(m => m.Phone, new { @class = "form-control" })
        

        <h3>Select Payment Method</h3>
         <label> @Html.RadioButtonFor(Model => Model.OrderType, "Collection", "Collection") Collection</label>
        <label> @Html.RadioButtonFor(Model => Model.OrderType, "Payment", "Payment")Debit/Credit Card</label>


        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Amount)
        @Html.HiddenFor(model => model.CustomerUserName)
        @Html.HiddenFor(model=> model.DateCreated)
   
    </div>







<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Submit" />
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






